<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend Mentor | Clipboard landing page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="upper">
        <img src="images/logo.svg" alt="">
    </div>
    <div class="pupper">
        <h1 class="h">A history of everything you copy</h1>
        <p class="c">Clipboard allows you to track and organize everything you copy. 
            Instantly access your clipboard on all your devices.</p>
        <button class="ios">Download for iOS</button> <button class="mac">Download for Mac</button>
    </div>
    <div class="middle"> 
        <h1 style="margin-bottom: 20px;">Keep track of your snippets</h1>
        <p class="disc">  Clipboard instantly stores any item you copy in the cloud, 
            meaning you can access your snippets immediately on all your devices.
            Our Mac and iOS apps will help you organize everything.</p>
    </div>


        <div class="amiddle">
            <div class="img"> <img src="images/image-computer.png" alt=""> </div>
            <div class="bimg"> 
                <div class="quick">Quick Search 
                    <div class="uquick">Easily search your snippets by content, category, web address, application, and more.</div>
                </div>
                <div class="quick">iCloud Sync
                    <div class="uquick">Instantly saves and syncs snippets across all your devices.</div>
                </div>
                <div class="quick">Complete History
                    <div class="uquick">Retrieve any snippets from the first moment you started using the app.</div>
                </div>
            </div>
    </div>

    <div class="access">
        <h3 class="acc" style="margin-bottom: 20px;">Access Clipboard anywhere</h3>
        <p class="uacces">Whether you’re on the go, or at your computer, 
            you can access all your Clipboard snippets in a few simple clicks.</p>
    </div>

    <div class="img_two"> <img src="images/image-devices.png" alt=""></div>
    <div class="super">
        <h3 style="margin-bottom: 20px;">Supercharge your workflow</h3>
        <p class="usuper">We’ve got the tools to boost your productivity.</p>
    </div>
    
    
    
    <div class="textt">
        <div class="one"> 
            <img src="images/icon-blacklist.svg" alt="" style="margin-bottom: 10px;">
            <h3 style="margin-bottom: 15px;">Create blacklists</h3>
            <p class="utextt">Ensure sensitive information never makes its way to your clipboard by excluding certain sources.</p>
        </div>
        <div class="two">
            <img src="images/icon-text.svg" alt="" style="margin-bottom: 14px;"> 
            <h3 style="margin-bottom: 19px;">Plain text snippets</h3>
            <p class="utextt">Remove unwanted formatting from copied text for a consistent look.</p>
        </div>
        <div class="three"> 
            <img src="images/icon-preview.svg" alt="" style="margin-bottom: 12px;">
            <h3 style="margin-bottom: 21px;">Sneak preview</h3>
            <p class="utextt">Quick preview of all snippets on your Clipboard for easy access.</p>
        </div>

    </div>
    <div class="images">
        <div> <img src="images/logo-google.png" alt=""> </div>
        <div> <img src="images/logo-ibm.png" alt=""> </div>
        <div> <img src="images/logo-microsoft.png" alt=""> </div>
        <div> <img src="images/logo-hp.png" alt=""> </div>
        <div> <img src="images/logo-vector-graphics.png" alt=""> </div>
        
    </div>

    <div class="clip">
        <h1 style="margin-bottom: 10px;">Clipboard for iOS and Mac OS</h1>
        <p style="font-family: inherit; margin-bottom: 35px;color: hsl(210, 10%, 33%);">
            Available for free on the App Store. Download for Mac or iOS, sync with iCloud 
            and you’re ready to start adding to your clipboard.</p>
        <button class="ios" style="margin-right: 15px;">Download for iOS</button> 
        <button class="mac">Download for Mac</button>
    </div>

    <footer>

        <div class="logo">
        <img src="images/logo.svg" alt="">
        </div>


        <div class="biimg">
            <p>FAQs</p>
            <p>Contact Us</p>
        </div>
        <div class="biimg">
            <p>Privacy Policy</p>
            <p>Press Kit</p>
        </div>
        <div class="biimg">
            <p>Install Guide</p>
        </div>

        <div class="lastdiv">
            
            <img src="images/icon-facebook.svg" alt="">
            <img src="images/icon-twitter.svg" alt="" style="margin: 0px 30px;">
            <img src="images/icon-instagram.svg" alt="">
        </div>


    </footer>




</body>
</html>
