*{
    box-sizing: border-box;
    margin: 0%; padding: 0%;
}
body{
    text-align: center;
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    width: 1440px;
    margin: auto;
}
.upper{
    height: 265px;
    width: 100%;
    background-image: url(images/bg-header-desktop.png);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
img{
    padding-bottom: 15px;
}
.pupper .h{
    margin-bottom: 10px;
}
.c{
    color: hsl(210, 10%, 33%);
    margin-bottom: 30px;
    font-family: inherit;
}
.ios{
    background-color: hsl(171, 66%, 44%);
    border-radius: 30px;
    padding: 16px;
    border: transparent;
    color: white;
    /* width: 210px;
    font-size: 18px; */
}
.mac{
    background-color: hsl(233, 100%, 69%);
    border-radius: 30px;
    padding: 16px;
    border: transparent;
    color: white;
    /* width: 210px;
    font-size: 18px; */
}
button{
    width: 17vw;
    font-size: 1.3vw;
    margin-bottom: 100px;
    cursor: pointer;
}
.middle .title{
    font-size: 30px;
    margin-bottom: 10px;
}
.middle .disc{
    color: hsl(210, 10%, 33%);
    margin-bottom: 30px;
    font-family: inherit;
}
.amiddle{
    display: flex;
    margin-bottom: 150px;
}
.img{
    margin-right: 150px;
}
.bimg{
    margin-top: 70px;
    text-align: start;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
}
.bimg .quick{
    height: calc(100% / 3);
    font-size: 25px;
}
.uquick{
    color: hsl(210, 10%, 33%);
    font-size: 20px;
    margin-top: 12px;
}

.access{
    font-size: 30px;
    margin-bottom: 100px;
}
.uacces{
    color: hsl(210, 10%, 33%);
    font-size:18px;
    font-family: inherit;
}
.img_two{
    margin-bottom: 100px;
}
.super{
    font-size: 30px;
}
.usuper{
    color: hsl(210, 10%, 33%);
    font-size: 18px;
    margin-bottom: 50px;
    font-family: inherit;
}
.textt{
    display: flex;
}
.one,
.two,
.three{
    width: calc(100% / 3);
    margin-bottom: 200px;
}
.textt .one p,
.textt .two p,
.textt .three p{
    color: hsl(210, 10%, 33%);
}
.images{
    display: flex;
    margin-bottom: 100px;
}
.images div{
    width: calc(100% / 5);
}
footer .biimg{
    width: calc(500px / 3);
    margin-top: 10px;
}
footer .biimg p{
    text-align: start;
    padding: 10px;
    font-size: 16px;
    font-family: 'Bai Jamjuree', sans-serif;
}
footer .biimg p:hover{
    cursor: pointer;
    color: hsl(171, 66%, 44%);;
}




footer .lastdiv{
    position: absolute;
    right: 14%;
    top: 38%;

}
footer .lastdiv img:hover{
    cursor: pointer;
}


@media (min-width:370px) and (max-width:550px){

}