/* .parent{
    margin-bottom: 20px;
    overflow: hidden;
    counter-increment: islam;
}
.one{
    background-color: #eee;
    width:600px; padding: 10px;
    float:left;
    position: relative;
}
/* .one::before{
    content: "";
    position: absolute;
    left: 0; top: 0;
    width: 5px; height: 100%;
    background-color: #228a6d;

} */

/* .one::before{
    content: "";
    width: 0; height: 0;
    background-color: transparent;
    position: absolute;
    left: -30px;
    top: 50%;
    margin-top: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent red transparent transparent;
}
span::before{
    content: counter(islam);
    margin-right: 0px;
    position: absolute;
    left: -8px;
    top: 28px;
    font-size: 14px 
}
.user{
    background-color: #eee;
    width: 50px; height: 55.5px;
    font-size: 50px;
    margin-right: 20px; padding: 10px;
    float: left;
    text-align: center;
} */ 

/* .id{
    background-color: #ddd;
    width: 800px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
    padding: 30px;
    border-radius: 45px;
}
.box{
    background-color: red;
    height: 299px;
    margin-right: 2px;
    float: left;
    width: 264px;
    border-radius: 55px;
    transition-duration: 1s;
    transition-delay: 1s;
}
.clear{
    clear: both;
}
.box:hover{
    background-color: #09f3b2;
} */

/* .one{
    background-color: red;
    width: 25%; height: 50%;
    padding: 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

} */


/* 
.parent{
    background-color: #ddd;
    width: 546px;
    height: 393px;
    margin: 20px auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 40px;
}
.d1{
    background-color: #09f3e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}
.d2{
    background-color: #ce7474;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.d3{
    background-color: yellow;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.last_div{
    height: 15%;
    display: flex;
}
.m_div{
    height: 70%;
    display: flex;
    flex-direction: row;
} */

/* 
img{
    transition-duration: 0.3s;
    transition-delay: 1s;
    filter: grayscale(100%);
}
img:hover{
    filter: grayscale(0);
} */

/* 
div{
    width: 500px; height: 10px;
    background-image: linear-gradient( 
        to right,
        rgb(255, 0, 255) 10%,
        blue 10%,
        blue 20%,
        rgb(96, 212, 96) 20%,
        rgb(96, 212, 96) 30%,
        yellow 30%,
        yellow 40%,
        red 40%,
        red 50%,
        rgb(0, 255, 255) 50%,
        rgb(0, 255, 255) 60%,
        rgb(56, 15, 90) 60%,
        rgb(56, 15, 90) 70%,
        rgb(255, 94, 0) 70%,
        rgb(255, 94, 0) 80%,
        rgb(26, 4, 9) 80%,
        rgb(26, 4, 9) 90%,
        rgb(96, 105, 107) 90%
); 
}
*/

/* 
.parent{
    background-color: #ddd;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 50px auto 50px;
    grid-template-areas: 
    "head head head head head head head"
    "nav cont cont cont cont cont cont"
    "nav foot foot foot foot foot foot"
    ;

}


.header{
    grid-area: head;
    background-color: red;

}
.nav{
    grid-area: nav;
    background-color: green;
}
.content{
    grid-area: cont;
    background-color: blue;
}
.footer{
    grid-area: foot;
    background-color: yellow;
} */

/* 
.parent{
    background-color: #ddd;
    width: 500px; height:300px;
    margin: 20px auto;
    display: grid;
    }
.pare{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    grid-template-areas: "a a b b c c";
}
.p{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    grid-template-areas: "b b c c a a";
}
.par{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    grid-template-areas: "c c a a b b";
}
.a{
    grid-area: a;
    background-color: blue;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.b{
    grid-area: b;
    background-color: red;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.c{
    grid-area: c;
    background-color: green;
    font-size: 30px;
    text-align: center;
    padding: 20px;
} */

.grid{
    background-color: #ddd;
    padding: 20px;
    width: 800px; height: 400px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(5,1fr);
}

div{
    background-color: aqua;
}